td.small = certificate.domain
td.small = certificate.subdomains
td.small = certificate.app_name
td.small = certificate.debug
td.small = certificate.message
td.small = certificate.status
td.small = certificate.status_errors
td.small 
  = link_to '[show]', certificate_path(certificate)
  ' &nbsp;
  = link_to '[delete]', certificate_path(certificate), method: :delete, data: { confirm: "Are you sure?" }