/td = certificate.identifier
td.small = certificate.domain
td.small = certificate.subdomains
td.small = certificate.app_name
td.small = certificate.debug
td.small = certificate.message
td.small = certificate.status
td.small = certificate.status_errors
/td = certificate.status_path
