header {
  span {
    margin: auto 5px;
  }
  .services {
    display: inline-block;
    .service-logo {
      height: 50px;
      width: 50px;
      &.heroku, &.letsencrypt {
        max-height: 40px;
        vertical-align: top;
      }
    }
  }
}

.certificate-identifier {
  font-size: 3rem;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: 200;
}

.refresh-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 15px;
}
